.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-bg);
}

.mainWrapper {
  flex: 1;
  margin-left: var(--sidebar-width);
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  flex: 1;
  overflow-y: auto;
}
